.note-viewer-container{
    .btn-deletenote{
        cursor: pointer;
        &.disabled{
            cursor: not-allowed;
        }
    }
    .ql-container{
        height: calc(100vh - 255px);
    }
}