.note-viewer-container{
    .save-progress{
        position: relative;
        top: -8px;
        visibility: hidden;
        &.show-progress{
            visibility: visible;
        }
    }
    .btn-deletenote{
        cursor: pointer;
        &.disabled{
            cursor: not-allowed;
        }
    }
    .react-quill-wrapper{
        height: calc(100vh - 221px);
        .quill{
            height: 100%;
            .ql-container{
                height: calc(100% - 42.13px);
            }
            .ql-toolbar.ql-snow{
                background-color: white;
                .ql-header.ql-picker{
                    color: black;
                    .ql-picker-label{
                        color: black;
                    }
                    svg > *{
                        stroke: black;
                    }
                    &:hover:not(.ql-expanded){
                        .ql-picker-label{
                            color: #06c;
                        }
                        svg > *{
                            stroke: #06c;
                        }                    
                    }
                }
            }
        }
    }
}

@media(max-width:747px){
    .note-viewer-container{
        .react-quill-wrapper{
            .quill{
                .ql-container{
                    height: calc(100% - 66.25px);
                }
            }
        }
    }    
}